<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <div class="nav-collapse collapse">
                <input type="text" class="navbar-search pull-right" ngModel="search.channel"/>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="tablescroll">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Time</th>
                <th>Channel</th>
                <th>Artist</th>
                <th>Track</th>
                <th>Album</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#track of tracks">
                <td>{{track.time | date: 'HH:mm:ss'}}</td>
                <td>{{track.channel}}</td>
                <td>{{track.artist}}</td>
                <td>{{track.title}}</td>
                <td>{{track.album}}</td>
                <td><img alt="" src="{{track.albumImageUrl}}"> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
